<ion-side-menu-content>
  <ion-header-bar class="bar-energized">
    <button class="button button-icon icon ion-navicon-round"
      menu-toggle="left"
      ></button>

    <img gravatar-src="'{{profile.email}}'" gravatar-size="40" ng-if="security.isLoggedIn()">
    <span ng-hide="security.isLoggedIn()">Logged out</span>


    <h1 class="title">Map</h1>
    <button ng-show="security.isLoggedIn()" class="button button-icon icon ion-navicon-round"
      menu-toggle="right"
      ></button>
  </ion-header-bar>
  <ion-content  ng-init="initMap()" id="container-map-edit">   
    <div class="google-maps-wrapper ">
      <div id="googleMap" class="google-maps">
      </div>
    </div>
  </ion-content>
</ion-side-menu-content>