<ion-side-menus ng-controller="ProfileCtrl">
  <ion-side-menu-content>
    <ion-header-bar class="bar-energized">
      <button class="button button-icon icon ion-navicon-round"
        menu-toggle="left"
        ></button>
      <img gravatar-src="'santagergely90@gmail.com'" gravatar-size="50">
      <h1 class="title">Profile</h1>
    </ion-header-bar>
    <ion-content >
      <div class="card">
        <div class="item item-divider">
          About
        </div>
        <div class="item item-text-wrap">
          <form name="profileForm" novalidate>
            <div class="app-form-item">
              <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="user.userName" disabled>
              </label>
            </div>

            <div class="app-form-item">
            <label class="item item-input" ng-class="getCssClasses(profileForm.email)">
              <input type="email" placeholder="Email" ng-model="user.email" name="email" ng-class="getCssClasses(profileForm.email)">
            </label>
            <ul class="validation-error-list">
              <li>
                <span ng-show="profileForm.email.$error.email">	
                Give a correct email!
                </span>
              </li>
            </ul>
            </div>

            <button class="button button-balanced button-block" ng-disabled="!canSaveProfileForm(profileForm)" ng-click="submitProfileForm(profileForm)">Submit</button>
            <flash class="button button-balanced" content="profileFlashMessage" class="flash-message"></flash>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Change password
        </div>
        <div class="item item-text-wrap">
          <form name="passwordChangeForm" novalidate>

            <div class="app-form-item">
              <label class="item item-input" ng-class="getCssClasses(passwordChangeForm.currentPassword)">
                <input type="password" ng-model="passwordChange.currentPassword" placeholder="Current password" name="currentPassword" ng-class="getCssClasses(passwordChangeForm.currentPassword)" required>
              </label>
              <ul class="validation-error-list">
                <li>
                  <span ng-show="passwordChangeForm.currentPassword.$dirty && showError(passwordChangeForm.currentPassword, 'required')">
                  This field is required!
                  </span>
                </li>
              </ul>
            </div>

            <div class="app-form-item">
              <label class="item item-input" ng-class="getCssClasses(passwordChangeForm.newPassword)">
                <input type="password" placeholder="New password" ng-model="passwordChange.newPassword" name="newPassword" required>
              </label>
              <ul class="validation-error-list">
                <li>
                  <span ng-show="passwordChangeForm.newPassword.$dirty && showError(passwordChangeForm.newPassword, 'required')">
                  This field is required!
                  </span>
                </li>
              </ul>
            </div>

            <div class="app-form-item">
              <label class="item item-input" ng-class="getCssClasses(passwordChangeForm.confirmPassword)">
                <input type="password" placeholder="Repeat new password" data-match="passwordChange.newPassword" ng-model="passwordChange.confirmPassword" name="confirmPassword" ng-class="getCssClasses(passwordChangeForm.confirmPassword)" required>
              </label>
              <ul class="validation-error-list">
                <li>
                  <span ng-show="passwordChangeForm.confirmPassword.$error.match">	
                  Passwords do not match!
                  </span>
                </li>
                <li>
                  <span ng-show="passwordChangeForm.confirmPassword.$dirty && showError(passwordChangeForm.confirmPassword, 'required')">
                  This field is required!
                  </span>
                </li>
              </ul>
            </div>
            <button class="button button-balanced button-block" ng-disabled="!canSaveForm(passwordChangeForm)" ng-click="submitPasswordChangeForm(passwordChangeForm)">Submit</button>
            <flash class="button button-balanced" content="passwordFlashMessage" class="flash-message"></flash>
          </form>
        </div>
      </div>
    </ion-content>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-list>
      <ion-item nav-clear menu-close href="#/map">
        Map
      </ion-item>
      <ion-item nav-clear menu-close href="#/profile" class="app-item-active">
        Profile
      </ion-item>
      <ion-item ng-click="security.login()" ng-hide="security.isLoggedIn()">
        Log in
      </ion-item>
      <ion-item ng-click="security.signUp()" ng-hide="security.isLoggedIn()">
        Sign up
      </ion-item>
      <ion-item ng-click="security.logout()" ng-show="security.isLoggedIn()">
        Log out
      </ion-item>
    </ion-list>
  </ion-side-menu>
</ion-side-menus>