<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/release/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- libs -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-touch/angular-touch.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/ionic/release/js/ionic.min.js"></script>
    <script src="lib/ionic/release/js/ionic-angular.min.js"></script>
    <script src="lib/riggr/dist/indexed.js"></script>
    <script src="lib/angular-gravatar/build/md5.js"></script>
    <script src="lib/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="lib/angular-mocks/angular-mocks.js"></script>

    <!-- code only for testing -->
    <script src="js/misc/smallDatabaseForTesting.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- app code -->
    <script src="js/build.js"></script>

    <!-- remove in production, mocking server -->
    <script src="js/httpBackendStub.js"></script>

    
    <!-- google.maps api -->
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
  </head>
  <body ng-app="starter" ng-controller="AppCtrl">
    <ion-side-menus>
      <ion-nav-view></ion-nav-view>
      <ion-side-menu side="left">
        <ion-list class="navigation">
          <ion-item nav-clear menu-close href="#/map" class="app-item-active">
            Map
          </ion-item>
          <ion-item nav-clear menu-close href="#/profile">
            Profile
          </ion-item>
          <ion-item ng-click="security.login()" ng-hide="security.isLoggedIn()">
            Log in
          </ion-item>
          <ion-item ng-click="security.signUp()" ng-hide="security.isLoggedIn()">
            Sign up
          </ion-item>
          <ion-item ng-click="security.logout()" ng-show="security.isLoggedIn()">
            Log out
          </ion-item>
        </ion-list>
      </ion-side-menu>
      <ion-side-menu side="right" ng-show="security.isLoggedIn()">
        <ion-list>
            <li class="item item-toggle">
              Edit map
              <label class="toggle toggle-energized">
                <input type="checkbox" ng-model="isEdit">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
          <ion-item ng-show="isEdit">
            <button class="button button-energized button-block" ng-click="addPoint()">
              Add new point
            </button>
            <button class="button button-energized button-block" ng-disabled="!isThereEditedNode" ng-click="savePoints()">
              Save changes
            </button>
          </ion-item>
        </ion-list>
      </ion-side-menu>
    </ion-side-menus>
  </body>
</html>