/* Empty. Add your own CSS if you like */

.error {
	/*border: 1px solid red;*/
  background-color: #ef4e3a;
}

.success {
	border: 1px solid green;
}

.validation-error-list > li > span {
    color: red;
    font-size: 0.8em;
}

.google-maps-wrapper {
	position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#flash-messages {
  position: fixed;
  background-color: rgba(255, 191, 0, 0.75);
  padding: 5px 15px;
  display: inline-block;
  text-align: center;
  width: 200px;
  top: 50px;
  left: 50%;
  margin-left: -100px;
  border-radius: 5px;
  font-size: .7em;
}

.flash-message {
    float: right;
    background: green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.energized {
  background-color: #f0b840;
  border: 1px solid #f0b840;
}

.app-item-active > .item-content {
  background-color: #f0b840;
  border: 1px solid #f0b840;
}

.app-form-item {
  margin-bottom: 5px;
}

/********************************/
/*Profile*/

